<!-- src/views/order/edit.hbs -->
<div class="container mt-4">
    <h2 class="text-center">Editar Pedido</h2>
    <div class="card shadow p-4 mt-3" style="max-width: 400px; margin: auto;"> <!-- Ajusta el ancho -->
        <form action="/order/edit/{{order.order_id}}" method="POST">
            <div class="form-group">
                <label for="order_date">Fecha:</label>
                <input type="datetime-local" class="form-control" name="order_date" value="{{order.order_date}}" required>
            </div>
            <div class="form-group">
                <label for="total">Total:</label>
                <input type="number" class="form-control" name="total" value="{{order.total}}" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="invoice_report_url">URL del Reporte:</label>
                <input type="text" class="form-control" name="invoice_report_url" value="{{order.invoice_report_url}}" required>
            </div>
            <div class="form-group">
                <label for="status">Estado:</label>
                <input type="text" class="form-control" name="status" value="{{order.status}}" required>
            </div>
            <div class="form-group">
                <label for="user_id">ID de Usuario:</label>
                <input type="number" class="form-control" name="user_id" value="{{order.user_id}}" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</div>
